.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1.5em;
  }
  .copy {
    background-color: #0275d8;
    margin-top: 20px;
  }
  .home {
    background-color: #f0ad4e;
  }